body {
    margin-top: 5rem;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
  }
  
  .article-metadata a:hover {
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .navbar{
    box-shadow: 0px 9px 9px -4px rgba(0,0,0,.5);
  }

  /*  Rollover image styles  */
  .image-wrapper {
    position: relative;
  }
  .image-top {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .25s ease-out;
  }
  .image-bottom {
    opacity: 1;
    transition: opacity .25s ease-out;
  }
  .image-wrapper:hover .image-top{
    opacity: 1;
  }
  .image-wrapper:hover .image-bottom{
    opacity: 0;
  }
  .certificate-title {
    margin-bottom: 15px;
  }
