{% extends "layout.html" %}
{% block title %} About {% endblock title %}
{% block content %}
    <h1 class="text-center">About</h1>
    <article class="media content-section border bg-body-tertiary border-2">
        <div class="d-flex">
            <div class="media-body flex-grow-1">
                <p class="article-content">{{ markdownContent | safe }}</p>
            </div> 
        </div>
    </article>
    <article class="media content-section border bg-body-tertiary border-2">
        <h2 class="text-center">Certifications</h1>
        <div class="image-wrapper"> 
          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
          <img class="image-bottom" src="static/about/SecurityPlussmall.png">
          <img class="image-top" src="static/about/aplussmall.png">
          </a>
        </div>  
          
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Security Plus Certificate</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <embed src="static/about/secplus.pdf" width="1110" height="600">
                </div>
              </div>
            </div>
          </div>
    </article>
    
{% endblock content %}