{% extends "layout.html" %}
{% block title %} Home {% endblock title %}
{% block content %}
    <h1 class="text-center">Welcome to my project blog</h1>
    <Article class="media content-section border bg-body-tertiary border-2">
        <p class="lead">
            Welcome to my Information Technology and Homelab project blog. 
            Check out the <strong>"Blog"</strong> section or the "QuickNav Box" to the right for my most recent blog posts.
            You can also look at specific projects in the <strong>"Projects"</strong> section. Click on the <strong>"About"</strong> section 
            for more information about me.
        </p>
        <p class="lead">
            This application was constructed in python using flask for the back-end and the built-in flask jinja functions for the front-end.
            The front-end incorporates html, css and javascript-bootstrap. 
        </p>
        <p class="lead">
            Thank you for stopping by, I am glad you came.
        </p>
    </Article>
    <Article class="media content-section text-center border bg-body-tertiary border-2">
        <p>
            This site is under construction.
            Please check black frequently for updates.
            Please report any bugs or issues by emailing flaskblog.rhschuld@gmail.com
        </p>
    </Article>

{% endblock content %}