{% extends "layout.html" %}
{% block title %} BlogPost {% endblock title %}
{% block content %}
    <article class="media content-section">
        <div class="d-flex">
            <div class="flex-shrink-0">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            </div>
            <div class="media-body flex-grow-1">
                <div class="article-metadata d-flex">
                    <div class="p2 flex-grow-1">
                        <a href="{{ url_for('UserPost', username=post.author.username) }}" class="mr-2">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    {% if post.author == current_user %}
                    <div class="p2">
                        <a class="btn btn-outline-secondary btn-sm m-1 mb-2" href="{{ url_for('PostUpdate', postID=post.id)}}">Update</a>
                        <button type="button" class="btn btn-outline-danger btn-sm m-1 mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </div>
                   {% endif%}
                </div>
                <h4 class="article-title">{{ post.title }}</h4>
                <p class="article-content">{{ post.content }}</p>
            </div> 
        </div>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to permanently delete your post?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('PostDelete', postID=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>
  
{% endblock content %}