{% extends "layout.html" %}
{% block title %} Blog {% endblock title %}
{% block content %}
    <h1>This is the blog page</h1>
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a href="#" class="mr-2">{{ post.author }}</a>
                    <small class="text-muted">{{ post.datePosted }}</small>
                </div>
                <h2 class="article-title">{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
      
    {% endfor %}
{% endblock content %}