{% extends "layout.html" %}
{% block title %} User Posts {% endblock title %}
{% block content %}
    <h1>Posts by {{ user.username }} ({{ posts.total}}) </h1>
    {% for post in posts.items %}
        <article class="media content-section border bg-body-tertiary border-2">
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                </div>
                <div class="media-body flex-grow-1">
                    <div class="article-metadata">
                        <a href="{{ url_for('posts.UserPost', username=post.author.username) }}" class="mr-2">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h4><a class="article-title" href="{{ url_for('posts.Post', postID=post.id)}}">{{ post.title }}</a></h4>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
    {% for pageNum in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if pageNum %}
            {% if posts.page == pageNum %}
                <a class="btn btn-info mb-4"  href="{{ url_for('posts.UserPost', username=user.username, page=pageNum)}}">{{ pageNum }}</a>
            {% else %} 
                <a class="btn btn-outline-info mb-4"  href="{{ url_for('posts.UserPost', username=user.username, page=pageNum)}}">{{ pageNum }}</a>
            {% endif %}
        {% else %}
            ... 
        {% endif %}
    {% endfor%}
{% endblock content %}